/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

.block_newsletter input[type=text]:focus,
body#checkout section.checkout-step .address-item.selected,
.facet-dropdown.open > .select-title,
.tabs .nav-tabs .nav-link:hover,
#product-modal .modal-content .modal-body .product-images img:hover,
.product-images > li.thumb-container > .thumb.selected,
.product-images > li.thumb-container > .thumb:hover,
.ps-alert-success .item i,
.ps-alert-success .item,
.tabs .nav-tabs .nav-link.active,
#_desktop_top_menu .top-menu .current > a {
    border-color: #000;
}

a,
a:hover,
.btn-unstyle:focus .expand-more,
.cart-grid-body a.label:hover,
.account-list a:hover,
.footer-container li a:hover,
.carousel .carousel-control .icon-prev:hover i,
.carousel .carousel-control .icon-next:hover i,
.dropdown:hover .expand-more,
.pagination a:not(.disabled):hover,
.block-categories .category-sub-menu .current,
.block-categories .collapse-icons .add:hover,
.block-categories .collapse-icons .remove:hover,
.block-categories .arrows .arrow-right,
.block-categories .arrows .arrow-down:hover,
.simplicity-search-widget form label:hover,
#products .highlighted-informations .quick-view:hover,
.featured-products .highlighted-informations .quick-view:hover,
.product-accessories  .highlighted-informations .quick-view:hover,
.product-miniature .highlighted-informations .quick-view:hover,
.page-my-account #content .links a:hover i,
.top-menu .sub-menu a:hover,
#mobile_top_menu_wrapper .top-menu .current > a,
.product-price,
#blockcart-modal .product-name,
.done,
.product-line-grid-body > .product-line-info > .available,
#product-availability .product-available,
.tabs .nav-tabs .nav-link.active,
#_desktop_top_menu .top-menu .current > a,
#_desktop_top_menu .top-menu a:hover[data-depth="0"]  {
    color: #000;
}

.form-control:focus,
.input-group:focus,
.product-customization .product-message:focus {
    outline-color: #000;
}

.group-span-filestyle .btn-default,
.custom-radio input[type="radio"]:checked + span,
.block-social li:hover,
.products-sort-order .select-list:hover,
.facet-dropdown .select-list:hover,
#blockcart-modal .modal-header,
.ps-alert-success .item i svg,
.ps-alert-success .item,
.btn-primary {
    background-color: #000;
}

@media (max-width: 991px) {
    .block-social li {
        background-color: #000;
    }
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #000;
}

/* ------------------------------ */

body {
    background: #f1f1f1;
}

header {
    margin-bottom: 20px;
}

/* Polaroid */

.product-cover img {
    box-shadow:2px 2px 8px 0 rgba(0,0,0,.2);
}

.thumbnail-container {
    box-shadow:2px 2px 8px 0 rgba(0,0,0,.2);
    height: 323px;
    background-color: #fff;
}

.thumbnail-container a {
    padding-top: 3px;
}

/* Hidden Parts */
.header-top, .header-nav, .logo-wrapper, .breadcrumb, .product-price, .product-price-and-shipping {
    display: none;
}

.featured-products .products {
    margin: 0 auto;
}

/* Very Top */
#very-top {
    /*background: #f6f6f6;*/
    background-color: rgba(255,255,255,0.9);
    color: #444;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    /* TinyMce 不吃 */
    box-shadow: 0px 0.5px 2px -1px rgba(0,0,0,0.75);
}

@media (max-width: 768px) {
    #very-top {
        font-size: 16px;
    }
}

#very-top.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

#very-top a {
    color: #444;
}

#banner-top {
    width: 100%;
    opacity: .7;
    color: #fff;
    position: relative;

    /* TinyMce 不吃 */
    background-position: center;
    background-size: cover;

    transition: background 300ms ease-in 200ms;
}

#banner-top .overlay {
    display: none;
}

#banner-top .description {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    text-align: center;
    font-size: 24px;
}

#banner-top .description a {
    color: #fff;
}

#banner-top .description .links a {
    display: inline-block;
    margin: 0 10px;
    padding-top: 10px;
}

/* Shop Window */
.silver-shopwindow {
    margin: 0 auto 50px auto;
}

.silver-shopwindow img {
    width: 100%;
}

.silver-shopwindow .row .col-lg-12, .silver-shopwindow .row .col-lg-6, .silver-shopwindow .row .col-lg-4  {
    padding-left: 5px;
    padding-right: 5px;
}

.silver-shopwindow .image-wrapper {
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;
}

.silver-shopwindow .image-wrapper img {
}

.silver-shopwindow .image-wrapper:hover img {
    opacity: .7;
    transform: scale(1.1);
    filter: grayscale(100%);
    transition: .5s ease;
}

.silver-shopwindow .image-wrapper .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
}

.silver-shopwindow .image-wrapper .overlay.pink {
    background-color: #F0648F;
}

.silver-shopwindow .image-wrapper .overlay.blue {
    background-color: #2fb5d2;
}

.silver-shopwindow .image-wrapper:hover .overlay {
    opacity: .7;
}

.silver-shopwindow .image-wrapper .overlay .text {
    color: white;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}


/* Product thumbnail */
.images-container .product-images>li.thumb-container>.thumb {
    width: 100px;
}

.images-container .product-images>li:nth-child(3n+3).thumb-container>.thumb {
    margin-right: 0;
}

.images-container .product-images>li.thumb-container>.thumb {
    width: 103px;
    width: calc((100% - 19px * 2)/3);
}


