{capture name=path}{l s='Smilepay ibon' mod='smilepay_ibon'}{/capture}


{if $status =='ok'}
<h2>{l s='SmilePay ibon payment detail' mod='smilepay_ibon'}</h2>
          <p>
<table class="std">
  <tr>
    <td><img src="{$this_path}smilepay_ibon.jpg" alt="{l s='SmilePay ibon' mod='smilepay_ibon'}" width="86" height="49" /></td>
  </tr>
<tr>
    <td bgcolor="#FF0000"><font color="#FFFFFF"><strong><font size="2">{l s='ibon dsc :' mod='smilepay_ibon'}</font></strong></font></td>
</tr>  
  <tr>
    <td>{l s='ibon code :' mod='smilepay_ibon'}<strong><font size="5" class="required">{$ibon_code}</font></strong></td>
  </tr>
    <tr>
    <td> {l s='Order amount: %s dollar.' sprintf=$total mod='smilepay_ibon'}</td>
  </tr>
  <tr>
    <td>{l s='end date :' mod='smilepay_ibon'} {$dead_date}</td>
  </tr>
</table>
</p>
{/if}        