<div id="smilepay_csv_order_info">
    {if $smilepay_csv_Data}
      <div class="box">
          <h3>{$smilepay_csv_title}繳費單列印</h3>
          {foreach from=$smilepay_csv_Data  item=data}
              <div>
                  <form action="{$bill_gen_controller_url}" method="post" target="_blank">
                      <input type="hidden" value="{$order_id}" name="id_order">
                      <input style="border-style:hidden;background-color: #4CAF50;color: white;" type="submit" value="產生繳費單" />
                  </form>
              </div>
          {/foreach}
          </br></br>
     </div>
    {/if}
</div>