<li>
    <a href="#smilepay_c2cup_order_info">
        <i class="icon-file-text"></i>
        {l s='SmilePay tab' mod='smilepay_c2cup'} <span class="badge">{$smilepay_c2cup_data_num}</span>
    </a>
</li>