<li>
    <a href="#smilepay_csv_order_info">
        <i class="icon-file-text"></i>
        {l s='SmilePay tab' mod='smilepay_csv'} <span class="badge">{$smilepay_csv_data_num}</span>
    </a>
</li>