
.simplicity-igfeed .col-xs-4 {
    margin-bottom: 28px;
}

.simplicity-igfeed .wrapper {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.simplicity-igfeed img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.simplicity-igfeed .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .1s ease;
}

.simplicity-igfeed .overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.simplicity-igfeed .social-count {
    display: none;
    color: #fff;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.simplicity-igfeed .overlay:hover .social-count {
    display: block;
}

.simplicity-igfeed .social-count {
    font-size: 16px;
    font-weight: 400;
}

.simplicity-igfeed .social1 {
    padding-right: 20px;
}

@media (max-width: 767px) {
    .simplicity-igfeed {
        padding-left: 13px;
        padding-right: 13px;
    }

    .simplicity-igfeed .col-xs-4 {
        padding-left: 2px;
        padding-right: 2px;
        margin-bottom: 2px;
    }

}