@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/markdown";
/*
@import "components/sitemap";
*/

/*** HEADER ***/
#header {
  /*background: white;*/
  /*color: $gray;*/
  .header-banner .logo-wrapper {
    text-align: center;
    margin-top: 1rem;
  }
  .logo {
    max-width: 100%;
    max-height: 45px;
  }
  a {
    /*
    color: $gray-darker;
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
    */
  }
  .menu {
    display: inline-block;
    > ul {
      > li {
        display: inline-block;
      }
    }
  }
  #menu-icon {
    vertical-align: middle;
    cursor: pointer;
    .material-icons {
      line-height: 60px;
      border: 1px solid transparent;
      padding: 5px;
      &.on {
        border: 1px solid $gray-lighter;
        background: $gray-lighter;
        border-radius: 4px;
      }
    }
  }
  .header-top, .header-nav {
    /*border-bottom: $gray-light 2px solid;*/
    /*max-height: 50px;*/
    /*margin-bottom: 30px;*/
    /*margin-top: 15px;*/

    .right-nav {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
    }
    .currency-selector {
      margin-top: 16px;
      margin-bottom: 10px;
      margin-right: 0.9375rem;
      white-space: nowrap;
      button {
        cursor: pointer;
      }
      .dropdown-menu {
        .current {
          background-color: $gray-light;
        }
      }

    }
    .user-info {
      margin-right: 0.9375rem;
      margin-top: 16px;
      margin-bottom: 10px;
      /*padding: 0 0.75rem;*/
      text-align: right;
      white-space: nowrap;
      a {
        color: $gray-darker;
        .icon-fill {
          fill: #232323;
        }
      }
      .account {
        /*margin-left: $small-space;*/
      }
    }
    .search-me {
      margin-left: 0.9375rem;
      /*margin-top: 0.9375rem;*/
      margin-top: 20px;
      padding: 0 0.75rem;
    }
    .language-selector {
      margin-top: 16px;
      margin-bottom: 10px;
      margin-right: 0.9375rem;
      white-space: nowrap;
      button {
        cursor: pointer;
      }
      .dropdown-menu {
        .current {
          background-color: $gray-light;
        }
      }
    }
    .cart-preview {
      &.active {
        /*
        background: $brand-primary;
        a, i {
          color: white;
        }
        */
      }
      .shopping-cart {
        vertical-align: middle;
        /*color: $gray;*/
      }
      .body {
        display: none;
      }
      a {
        color: $gray-darker;
      }

      position: relative;

      .cart-products-count {
        position: absolute;
        top: -7px;
        left: 8px;
        font-size: 10px;
        line-height: 10px;
      }
    }
    .blockcart {
      padding: 0 0.75rem 0.75rem 0;
      margin-top: 14px;
      margin-bottom: 10px;
      text-align: center;
      white-space: nowrap;
      /*
      a {
        color: $gray;
        &:hover {
          color: $brand-primary;
        }
      }
      &.active {
        a:hover {
          color: white;
        }
      }
      */
      .header {
        margin-top: 0.125rem;
      }
    }
    #_desktop_contact_link{
      display: inline-block;
      #contact-link {
        margin-top: 0.9375rem;
      }
    }
    .search-widget {
      margin-top: 0.2rem;
    }
    .material-icons {
      line-height: inherit;
      &.expand-more {
        margin-left: -0.375rem;
      }
    }
  }
  .header-top, .header-nav {
    > .container {
      position: relative;
    }

    .menu {
      /*padding-left: 15px;*/
      margin-bottom: 0.375rem;
    }
    .position-static {
      position: static;
    }
    a[data-depth="0"] {
    }

    /*
    .search-widget {
      float: right;
    }
    */
    .logo-wrapper, .menu-wrapper {
      display: inline-block;
      margin-top: 20px;
      padding-right: 25px;
    }

  }

  #_desktop_search_me,
  #_desktop_currency_selector,
  #_desktop_language_selector,
  #_desktop_user_info,
  #_desktop_cart {
    margin-top: 10px;
  }

  /* sticky navbar */
  .header-top {
    position: relative;
    width: 100%;
    z-index: 10;
  }

  .top-menu-link {
    margin-left: $medium-space;
  }
}

.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  /*background: $gray-light;*/
  /*box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);*/
  /*padding-top: 1.563rem;*/
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  .banner {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 0;
    /*margin-bottom: 3rem;*/
    margin-bottom: 1rem;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;

      i.material-icons {
        transform: rotate(270deg);
      }

      &::after {
        /*
        content: "/";
        color: $gray;
        margin: 0.3125rem;
        */
      }
      /*
      &:last-child {
        content: "/";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
      }
      */
      a {
        color: $gray-darker;
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}
/*** FOOTER ***/
#footer {
  padding-top: 2.5rem;
}

/*** Responsive part ***/
@include media-breakpoint-up(md) {
  #wrapper {
    min-height: 400px;
  }
}
@include media-breakpoint-down(lg) { /* 1200px 以下 */
  #header {
    .header-nav {
      max-height: inherit;
      .search-widget {
        float: none;
        width: 15.63rem;
      }
    }
  }
}
@include media-breakpoint-down(md) { /* 992px 以下 */
  .container {
    max-width: 100%;
  }
  #header {
    .logo {
      width: auto;
    }
    .header-top {
      .search-widget {
        min-width: inherit;
      }
    }
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 15.63rem;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

@include media-breakpoint-down(sm) { /* 768px 以下 */
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #header {
    .top-logo {
      line-height: 50px;
      vertical-align: middle;
      margin: 0 auto;
      margin-top: 4px;
      text-align: center;
      a {
        img {
          max-width: 180px;
        }
      }
    }

    .header-top, .header-nav {
      background: white;
      color: $gray-darker;
      padding-bottom: 0;
      .right-nav {
        flex-direction: column;
      }
      .user-info {
        text-align: left;
        margin-left: 0;
        margin-right: 10px;
        .logged {
          /*color: $brand-primary;*/
        }
      }
      .blockcart {
        margin-right: 10px;
        padding: 0;
        background: inherit;
        &.active {
          /*margin-left: 0.5rem;*/
        }
        &.inactive {
          .cart-products-count {
            display: none;
          }
        }
      }
      a[data-depth="0"] {
        /*color: $gray-darker;*/
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
    /*white-space: unset;*/
  }
  #footer {
    padding-top: 0.5rem;
  }
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* bootstrap default override */
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.open .nav-link,
.nav-tabs .nav-item.open .nav-link:focus,
.nav-tabs .nav-item.open .nav-link:hover {
  background-color: transparent;
}

@media only screen and (max-width : 374px) {
  #_mobile_logo, #menu-icon, #_mobile_user_info, #_mobile_search_me  {
    zoom: 0.85;
  }

  #header {
    .header-top, .header-nav {
      .user-info, .blockcart {
        margin-right: 8px;
      }
    }
  } 
}

