{capture name=path}{l s='Smilepay famiport' mod='smilepay_famiport'}{/capture}



{if $status =='ok'}
<h2>{l s='SmilePay famiport payment detail' mod='smilepay_famiport'}</h2>
          <p>
<table class="std">
  <tr>
    <td><img src="{$this_path}smilepay_famiport.jpg" alt="{l s='SmilePay famiport' mod='smilepay_famiport'}" width="86" height="49" /></td>
  </tr>
<tr>
    <td bgcolor="#FF0000"><font color="#FFFFFF"><strong><font size="2">{l s='famiport dsc :' mod='smilepay_famiport'}</font></strong></font></td>
</tr>  
  <tr>
    <td>{l s='famiport code :' mod='smilepay_famiport'}<strong><font size="5" class="required">{$famiport_code}</font></strong></td>
  </tr>
    <tr>
    <td> {l s='Order amount: %s dollar.' sprintf=$total mod='smilepay_famiport'}</td>
  </tr>
  <tr>
    <td>{l s='end date :' mod='smilepay_famiport'} {$dead_date}</td>
  </tr>
</table>
</p>
{/if}        