.feature {
  text-align: center;
  .head {
    padding: 128px 0;
    color: #fff;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #b3e3e0 0%, #67c8c2 51%, #5cb4ae 75%);
    h1 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 400;
      margin-bottom: 16px;
    }
    p {
      font-size: 21px;
      line-height: 31.5px;
      font-weight: 400;
      color: #fff;
    }
  }
  .headline {
    display: flex;
    text-align: center;
    a {
      display: block;
      border-bottom: 3px solid transparent;
      padding: 24px 4px 8px 4px;
      cursor: pointer;
      flex-basis: 0;
      flex-grow: 1;
      i {
        color: #232323;
        font-size: 64px;
        margin-bottom: 4px;
        transition: .25s all ease-in-out;
      }
      &:hover {
        i {
          margin-top: -6px;
          margin-bottom: 10px;
        }
      }
      span {
        color: #232323;
        display: block;
        margin-top: 4px;
        margin-bottom: 16px;
        font-size: 14px;
        line-height: 17.5px;
        letter-spacing: 1px;
      }
    }
  }
  .b4block {
    padding: 80px;
    h2 {
      font-size: 48px;
      line-height: 60px;
      font-weight: 400;
      margin: 8px 0;
    }
    h6 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: #7a7a7a;
    }
    p {
      font-size: 21px;
      line-height: 31.5px;
      font-weight: 400;
      width: 62%;
      margin: 0 auto;
    }
  }
  .block {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 80px;
    h3 {
      font-size: 20px;
      line-height: 30px;
      font-weight: 400;
    }
    p {
      font-size: 18px;
      line-height: 27px;
      color: #586069;
    }
    .text {
      margin: 20px 0 40px 0;
    }
    img {
      border: 4px solid #f6f6f6;
      padding: 10px;
      width: 80%;
      &.original {
        width: 50%;
        border-width: 1px;
      }
      &.cover {
        width: 30%;
        border-width: 1px;
      }
    }
    i.resize {
      margin: 0 20px;
      font-size: 40px;
      color: #7a7a7a;
    }
    .friendly-url {
      font-size: 40px;
      line-height: 40px;
      margin-top: 20px;
      font-family: monospace;
      text-decoration: underline;
      color: #67c8c2;
    }
    .planet-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 40px auto;
      max-width: 850px;
    }
    .planet {
      border-radius: 50%;
      box-shadow: 0 1px 5px rgba(27,31,35,.15);
      display: flex;
      justify-content: center;
      width: 96px;
      height: 96px;
      margin: 16px 34px;
      align-items: center;
      font-family: monospace, 'Noto Sans TC', 'Microsoft JhengHei';
      font-weight: 700;
      font-size: 23px;
      i {
        font-size: 40px;
      }
      img {
        border: none;
      }
      &.big {
        font-size: 20px;
        font-weight: 400;
        width: 116px;
        height: 116px;
        margin-top: 6px;
        margin-bottom: 6px;
      }
      &.medium {
        font-size: 18px;
        font-weight: 400;
        width: 96px;
        height: 96px;
        margin-top: 3px;
        margin-bottom: 3px;
      }
      &.small {
        font-size: 16px;
        font-weight: 400;
        width: 76px;
        height: 76px;
        margin-top: 0;
        margin-bottom: 0;
      }
      &:nth-child(odd) {
        margin-top: -24px;
      }
    }
  }
}

@media (max-width: 991px) {
  .feature  {
    .b4block {
      padding: 40px 15px;
      p {
        width: 85%;
      }
    }
    .block {
      .friendly-url {
        margin-bottom: 10px;
        font-size: 33px;
      }
      .planet {
        margin-right: 25px;
        margin-left: 25px;
        &.big,
        &.medium,
        &.small {
          margin: 6px 25px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .feature {
    .headline {
      display: none;
    }
    .b4block {
      h2 {
        font-size: 35px;
      }
      p {
        font-size: 18px;
        width: 100%;
      }
    }
    .block {
      padding-bottom: 0;
      .text {
        margin-top: 10px;
      }
      img {
        &.original {
          width: 45%;
        }
        &.cover {
          width: 25%;
        }
      }
      .planet-wrapper {
        margin: 20px auto;
        line-height: 20px;
        max-width: 330px;
      }
      .planet {
        &.big {
          font-size: 16px;
          width: 66px;
          height: 66px;
        }
        &.medium {
          font-size: 14px;
          width: 56px;
          height: 56px;
        }
        &.small {
          font-size: 12px;
          width: 46px;
          height: 46px;
        }
        &.big,
        &.medium,
        &.small {
          margin: 6px 6px;
        }
        &:nth-child(odd) {
          margin-top: -24px;
        }
      }
    }
  }
}

@media (max-width : 374px) {
  .feature {
    zoom: 0.85;
  }
}
