.home-feature {
  text-align: center;

  .icon-wrapper {
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 5px solid #f6f6f6;
    transition: .2s all ease-in-out;
    min-height: 215px;
  }

  .icon-wrapper:hover {
    padding-top: 25px;
    margin-left: -3px;
    margin-right: -3px;
    box-shadow: 7px 7px 23px 0 rgba(0,0,0,0.25);

    i.material-icons {
      font-size: 75px;
      transition: .2s all ease-in-out;
    }
  }

  .icon-wrapper.marg-top:hover {
    margin-top: 20px;
  }

  h1 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  i.material-icons {
    font-size: 65px;
    cursor: default;

    &.green {
      color: #67C8C2
    }
  }

}

@media (max-width: 767px) {
  .home-feature {
    .icon-wrapper {
      padding: 20px 10px;
    }
  }

}

@media (min-width: 992px) {
  .home-feature {
    .marg-top {
      margin-top: 30px;
    }
  }
}

@media (max-width : 374px) {
  .home-feature {
    zoom: 0.85;
  }
}