{*<div class="text-xs-center clearfix">
  <button class="loginBtn loginBtn-facebook" onclick="fbLogin();">
  {l s='Log in with Facebook' mod='simplicity_sociallogin'}
  </button>
</div>*}
<a href="javascript:void(0)" title="{l s='Log in to your customer account' d='Shop.Theme.Customeraccount'}"
   rel="nofollow" onclick="fbLogin();"><span style="display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 40 40"><g><g><path class="icon-fill" d="M22.2,27.2v-7.2h2c1.5,0,2,0,2-0.1c0-0.1,0.1-1,0.2-2.1c0.1-1.1,0.2-2.2,0.2-2.4l0-0.4l-2.2,0l-2.2,0
			l0-1.6c0-0.9,0.1-1.8,0.2-1.9c0.2-0.5,0.7-0.7,2.6-0.7h1.7V8.3V5.8H24c-3,0-3.8,0.1-5,0.7c-0.8,0.4-1.6,1.2-2,1.9
			c-0.5,1.1-0.7,1.8-0.7,4.3L16.2,15h-1.5h-1.5v2.5v2.5h1.5h1.5v7.2v7.2h3h3V27.2z"/>
                </g></g></svg></span>{*<i class="material-icons">&#xE7FF;</i
    >*}{*<span class="hidden-sm-down">{l s='Sign in' d='Shop.Theme.Actions'}</span>*}</a>
